.grid-container {
    display: grid;
    /* gap: 1px; */
    height: 99vh;
    width: 99vw;
  }
  
  .dead {
    border: 1px solid black;
    background-color: black;
  }

  .alive{
    border: 1px solid black;
    background-color: red;
  }